{% extends "layout/base.html" %}


{% load static %}

{% block library %}

<link rel="stylesheet" href="{% static "book/css/home.css" %}">


{% if user.is_staff %}
<h3>All Students</h3>
<div class="cards__container">

    {% for student in students %}
    <div class="std_card card">
        <img class="std_img" src="{{student.img.url}}" alt="" />
        <p class="name">{{student.first_name}}{{student.last_name}}</p>
        <p class="author">ID {{student.id}}</p>
        <p class="status">borrow {{student.books.all.count}} books</p>
        <br>

        <a href="{% url "std_profile" student.pk%}" class="book_btn">view more info</a>
    </div>
    {%endfor%}


</div>

{% endif %}
{%endblock library%}