{% extends "layout/base.html" %}
{% load static %}
{% block library %}

<link rel="stylesheet" href="{% static "book/css/home.css" %}">
<h3>All Categories</h3>
<div class="cards__container">
    {% for category in categories %}
    <div class="cat_card">
        <img class="cat_img" src="{{category.img.url}}" alt="" />
        <p class="cat_name">{{category.title}}</p>
        <p class="author">{{category.books.count}}</p>
        <a href="{% url 'category:detail' category.pk %}"><button class="cat_book_btn">view all</button></a>
    </div>
    {% endfor %}
</div>
{% endblock library %}