body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaeaea;
  }
  
  header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 3px 0px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .search_container {
    display: flex;
    align-items: center;
  }
  
  .search {
    opacity: 40%;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500;
    height: 20px;
    width: 500px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1.4px solid grey;
    background-color: #eaeaea;
    margin-left: 150px;
  }
  
  .search:hover {
    opacity: 80%;
  }
  
  .search:focus {
    opacity: 80%;
  }
  
  .search_btn {
    padding: auto;
    outline: none;
    width: 50px;
    height: 32.8px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    color: grey;
    cursor: pointer;
    background-color: #ffb830;
  }
  
  .logoo {
    cursor: pointer;
    color: #ffb830;
    font-size: 2.5rem;

  }
  
  .logo {
    margin: 0px 270px 0px 35px;
    justify-self: left;
  }
  
  .profile_btn {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: #ffb830;
    color: white;
    padding: 12px;
    text-align: center;
    margin-left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: 0.3s all ease;
  }
  
  .profile_btn:hover {
    opacity: 70%;
  }
  
  .logout_btn  {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: #ffb830;
    color: white;
    padding: 12px;
    margin-left: 15px;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transition: 0.3s all ease;
  }
  
  .logout_btn:hover {
    opacity: 70%;
  }
  .category , .login{
    color:#ffb830 ;
    text-decoration: none;
    /* padding: 12px; */
    margin-left: 190px;
    text-align: center;
    font-weight: bolder;
  }
  .login{
    margin-left: 20px;
  }
  
  