{% extends "layout/base.html" %}
{% load static %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% block library %}
<link rel="stylesheet" href="{% static "myadmin/css/add_book.css" %}">



<div class="container">
    <div class="img_container">
        <img src="{% static "accounts/images/b.png" %}" alt="" class="img" />
    </div>
    <div class="form_container">
        <h2>Add Category</h2>
        <form class="signup_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
            <button class='signin_btn' type="submit"> Add </button>
        </form>
    </div>
</div>
{% endblock library %}